@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,200;8..144,300;8..144,400&family=Roboto:wght@100;400;500;700&display=swap');
:root {
    --main-color: #6dbfe2;
    --subtext:'Nunito', sans-serif;
    --red:#ff5a3c;
    --light-red:#f9edeb;
}
*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: none;
}

p{
    font-size: 1.5rem;
}
h2{
    font-size: 2.5rem;
}


html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}
.row{
    display: flex;
    flex-wrap:wrap ;
    justify-content: space-between;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.video-container{
    width: 100%;
    height: 100vh;
}
.video-container video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
header{
    position: relative;
}
/*-------------HEADER-TOP-------------*/
.header-top{
    position: fixed; 
    top:0; left:0; right:0;
    z-index: 1000;
    background:#fff;
    padding:1.5rem 5%;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
.header-top img{
  height: 40px;
  width:50px;
  margin-right:10px ;
}
.header-top .logo{
    display: flex;
    font-weight: bolder;
    font-size: 2.5rem;
    color:#333;
    align-items: center;
}

.header-top .logo span{
    color:var(--red);
}

.header-top .navbar a{
    color:#333;
    font-size: 2rem;
    padding:0 1.5rem;
    
}

.header-top .navbar a:hover{
    color:var(--red);
}

.header-top .icons #menu-bars,
.header-top .icons a{
    height:4.5rem;
    line-height: 4.5rem;
    width:5rem;
    font-size: 2rem;
    margin-right: .5rem;
    border-radius: .5rem;
    color:var(--red);
    background:var(--light-red);
    text-align: center;
}

.header-top .icons #menu-bars:hover,
.header-top .icons a:hover{
    background-color:var(--red);
    color:#fff;
}

.header-top .icons #menu-bars{
    display: none;       
}
/*----------END-HEADER-TOP----------------*/

.header-content{
    position: absolute;
    width: 40rem;
    top: 0;
    left: 0;
    min-height: 100vh;
    background-color: rgba(255, 255, 255, 0.15);
    padding: 14rem 5rem 0px 5rem;
    text-align: center; 
}
.header-content > h1{
    font-size: 3.2rem;
}
.header-content > p{
    font-size: 2.4rem;
}
.header-content> h1,p{
    color: rgb(19, 172, 255);
}
.header-content form{
    padding: 3rem 1.2rem;
    background-color: #fff;
    margin-top: 1rem;
}
.header-content form h1{
    color: #333;
    font-size: 2.7rem;
}
.header-content form select,input{
    width: 100%;
    height: 3.5rem;
    padding-left: 1.2rem;
    outline: none;
    background-color: #ddd;
    border: none;
}
.header-content form p{
    margin: 0.8rem 0 0.3rem 0;
    text-align: left;
    color: var(--main-color);
}
.header-content form button{
    height: 3rem;
    width: 15rem;
    background-color: var(--main-color);
    color: #fff;
    border-radius: .5rem;
    padding: .4rem;
    margin-top: 2rem;
    border: none;
    cursor: pointer;
    transition: all .3s ease;  /* Chế độ chuyển tiếp của hover */
}
.header-content form button:hover{
    background-color: transparent;
    border: 1px solid var(--main-color);
    color: var(--main-color);
}
/*-----------------FEATURED---------------------*/

.featured{
    padding-top: 5rem;
}
.featured .box-container{
    display: flex;
    flex-wrap: wrap;        
    gap:1.5rem;
}

.featured .box-container .box{
    border:.1rem solid rgba(0,0,0,.2);
    box-shadow: 0.5rem 1rem rgba(0,0,0,.1);
    border-radius: .5rem;
    overflow:hidden;
    background:#fff;
    flex:1 1 30rem;
}

.featured .box-container .box .image-container{
    overflow:hidden;
    position: relative;
    width: 100%;
    height: 25rem;
}

.featured .box-container .box .image-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .2s linear;
}

.featured .box-container .box:hover .image-container img{
    transform: scale(1.1);
}

.featured .box-container .box .image-container .info{
    position: absolute;
    top:1rem; left:0;
    display: flex;
}

.featured .box-container .box .image-container .info h3{
    font-weight: 500;
    font-size: 1.4rem;
    color:#fff;
    background:rgba(0,0,0,.3);
    border-radius: .5rem;
    padding:.5rem 1.5rem;
    margin-left: 1rem;
}

.featured .box-container .box .image-container .icons{
    position: absolute;
    bottom:1rem; right:0;
    display: flex;
}

.featured .box-container .box .image-container .icons a{
    font-size: 1.4rem;
    color:#fff;
    display: flex;
    border-radius: .5rem;
    background: rgba(0,0,0,.3);
    margin-right: 1rem;
    padding:.7rem;
}

.featured .box-container .box .image-container .icons a h3{
    font-weight: 500;
    padding-left: .5rem;
}

.featured .box-container .box .image-container .icons a:hover{
    background:var(--red);
}

.featured .box-container .box .content{
    padding:1.5rem;
}

.featured .box-container .box .content .price{
    display: flex;
    align-items: center;
}

.featured .box-container .box .content .price h3{
    color:var(--red);
    font-size: 2rem;
    margin-right: auto;
}

.featured .box-container .box .content .price a{
    color:#666;
    font-size: 1.5rem;
    margin-right: .5rem;
    border-radius: .5rem;
    height:4rem;
    width:4rem;
    line-height: 4rem;
    text-align: center;
    background:#f7f7f7;
}

.featured .box-container .box .content .price a:hover{
    background:var(--red);
    color:#fff;
}

.featured .box-container .box .content .location{
    padding:1rem 0;
}

.featured .box-container .box .content .location h3{
    font-size: 2.5rem;
    color:#333;
}

.featured .box-container .box .content .location p{
    font-size: 1.5rem;
    color:#666;
    line-height: 1.5;
    padding-top: .5rem;
}
.featured  .details{
    padding:.5rem 0;
    display: flex;
}

.featured .details h3{
    flex:1;
    padding:1rem;
    border:.1rem solid rgba(0,0,0,.1);
    color:#999;
    font-size: 1.3rem;
}

.featured  .details h3 i{
    color:#333;
    padding-left: .5rem;
}
.featured .buttons{
    text-align: center;
}
.featured .btn{
    width: 30%;
    /* left: 50%; */
    margin-top: 1rem;
}



/*-------------FEATURED-END-------------*/
/* ---------------------------------nice-place------------------------------------------ */
.nice-place{
    padding-top: 5rem;
}
.container{
    padding:2rem 9%;
    /* display: flex; */
}
.nice-place-item{
    width: 30%;
    height: 400px;
    position: relative;
    overflow: hidden;   /* Ẩn những gì thuộc về nó nhưng nằm ngoài nó */
}
.nice-place-item:hover .nice-place-text{
    transform: translateX(0%);              /* Trượt sang phải*/
}
.nice-place-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}
.nice-place-text{
    position: absolute;
    width: 100%;
    height: 200px;
    bottom: 0;
    padding: 12px ;
    background: linear-gradient(to right, rgba(0,0,0,0.8),rgba(255,255,255,0));  /* Màu nhạt dần từ trái sang phải*/
    transform: translateX(-100%);  /* Dịch chuyển text sang trái 100%*/
    transition: all 0.5s ease;  /* Điều chỉnh hiệu ứng */
}

.nice-place-text h2{
    color: var(--main-color);
}
.nice-place-text i{
    color: yellow;
    font-size: 1.5rem;
}
.nice-place-item .nice-place-text p{
    color: white;
    margin: 12px 0;
}
.btn{
    height: 30px;
    width: 100px;
    background-color: var(--main-color);
    border-radius: 4px;
    border: none;
    color: #fff;
    cursor: pointer; 
    transition: all 0.5s ease;

}
.btn:hover{
    background-color: tomato;
    border: none;
}
.h1-style{
    text-align: center;
    margin-bottom:50px;
    color: var(--main-color);
    position: relative;
    font-size: 28px;
}
.h1-style::before{
    position: absolute;
    content: "";
    height: 5px;
    width: 150px;
    background-color: var(--main-color);
    border-radius: 5px;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}
.h1-style::after{
    position: absolute;
    content: "\2665";
    width: 40px;
    height: 20px;
    color: red;
    background-color: #fff;
    bottom: -18px;
    left: 50%;
    transform: translateX(-50%);
}
   /* <!-- ---------------About------------------- --> */
.about{
    padding-top: 5rem;
   
}
/* .about h1{
    text-align: center;                .h1-style: class chung
    margin-bottom:50px;
    color: var(--main-color);
    position: relative;
}
.about h1::before{
    position: absolute;
    content: "";
    height: 5px;
    width: 150px;
    background-color: var(--main-color);
    border-radius: 5px;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}
.about h1::after{
    position: absolute;
    content: "\2665";
    width: 40px;
    height: 20px;
    color: red;
    background-color: #fff;
    bottom: -18px;
    left: 50%;
    transform: translateX(-50%);
} */

.about .about-content-left{
    width: 50%;
}
.about .about-content-left img{
    width: 100%;
}
.about .about-content-right{
    width: 50%;   
    padding-left: 50px;
}
.about-content-right h2{
   font-family: var(--subtext);
   font-weight: normal;
   color: var(--main-color);
}
.about-content-right p{
    color: #333;
    font-size: 18px;
    margin: 20px 0;
    font-family: var(--subtext);
}
.service{
    margin-top: 30px;
}
.service-item{
    cursor: pointer;
    width: 30%;
    text-align: center;
    padding: 20px;
    background-color:#b6dcec;
    border-radius: 5px;
    transition:all 0.5s ease ;
}
.service-item p{
    color: #333;
    font-weight: 500;
}
.service-item:hover{
    box-shadow: 2px 2px 10px black;
}
.service-item img{
    width: 170px;
    margin-bottom: 6px;
    transition:all 0.5s ease ;
}
/* ---------------------REVIEW------------------------- */
.review{
    padding-top: 5rem;
}
.review-item{
    width: 30%;
    box-shadow: 2px 2px 10px rgb(0,0,0,0.2);
    padding: 20px 12px;
    transition:all 0.5s ease ;
    
}
.review-item:hover{
    box-shadow: 2px 2px 10px var(--main-color);
}
.review-item:hover .review-item-text img{
    transform: translateY(-15px);
}
.review-item-text{
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 2px solid #dddd;
}
.review-item-text p{
    font-size: 16px;
    margin: 20px 0;
    font-family:var(--subtext);
}
.review-item-text span{
    color: var(--main-color);
}
.review-item-text img{
    width: 50px;
    transition:all 0.5s ease ;
}
.review-item-img{
    padding: 12px;
}
.review-item-img img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    
}
.review-item-img h2{
    font-family: var(--subtext);
    font-size: 16px;
    color: var(--main-color);
}
.review-item-img p{
    font-family: var(--subtext);
    font-size: 14px;
    color: #333;
}
.review-item-img-text{
    width: 70%;
}
/* -----------------------SIGNUP------------------------- */
.signup{
    padding-top: 5rem;
}
.signup-content{
    background-color: #b6dcec;
    padding: 30px 0;
    text-align: center;
    align-items: center;
    border-radius: 5px;
}
.signup-content input{
    height: 35px;
    width: 50%;
    background-color: white;
    border-radius: 10px;
}

/* -----------------------CONTACT------------------------- */
.contact{
    padding: 50px 0;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 10%);
}
.contact-content-item{
    width: 50%;
    padding: 6px 12px;
}
.contact-content-top input {
    height: 35px;
    width: 100%;
    margin-bottom: 3px;
}
.contact-content-bottom {
    padding: 6px 12px;
    text-align: center;
}
.contact-content-bottom textarea{
    width: 100%;
    height: 100px;
    border: none;
    outline: none;
    padding: 12px;
    background-color: #dddddd;
}
.contact-content-bottom button{
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    
}
/*------------------------footer------------------*/
    footer{
        background-color: #6dbfe2;
    
    }
    .row  {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

    }

    .row .column{
        flex: 1 1 20rem;
        margin: 0 90px;
    }

    .row p{
        color: #333;
    }

    .row .column .congthuong {
        width: 50%;
    
    }
    .row .column p{
        font-size: 16px;
        
    }

    .row .column .add{
        max-width: 25em;
    }

    .row .column .school{
        max-width: 30em;
    }

    .row .column .download .download-tittle{
        font-size: 18px;
    }
    .row .column .info h2{
        font-size: 18px;
    }
    .column .dowload1{
        width: 100%;
    }



/* ------------------- RESPONSIVE----------------------- */
@media (max-width:768px){
    .container{
        padding-left: 0;
        padding-right: 0;
    }
    .header-top .fa-heart {
         display: none;
    }
    .header-content{
        width: 100%;
        
    }
    .nice-place{
        padding-top: 30px;
    }
    .nice-place-item{
        width: 100%;
        margin: 5px 12px;
    }
    .about .about-content-left {
        width: 100%;
        margin: 0 12px;
    }
    .about{
        padding-top: 30px;
    }
    .about .about-content-right {
        width: 100%;
        padding: 0 12px;
    }
    .service-item{
        width: 100%;
        margin: 5px 12px;
    }
    .featured{
        margin-top: 30px ;
        margin-left: 3%;
        margin-right: 3%;
    }
    .review{
        padding-top: 30px;
    }
    .review-item{
        width: 100%;
        margin:12px;
        margin-bottom: 20px;
    }
    .signup{
        padding-top: 30px;
    }
    .contact{
        padding-top: 30px;
    }
    .contact-content-item{
        width: 100%;
    }
    .footer .column{
        width: 100%;
        margin-left: 0;
    }
}





@media (max-width:924px){

    .header-top .icons #menu-bars{
        display: inline-block;
    }

    .header-top .navbar{
        position: absolute;
        left:0; right:0; top:100%;
        background:#f7f7f7;
        border-top: .1rem solid #333;
        border-bottom: .1rem solid #333;
        transition: .2s linear;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        
    }

     .header-top .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .header-top .navbar a{
        display: block;
        padding:1.5rem;
        margin:1.5rem;
        background:#fff;
        border:.1rem solid #333;
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
        border-radius: .5rem;
    }

}

